<body>
	<div class="hero">
	<div class="hero-inner">
    
		<div class="hero-copy">
			<h1>Surf & Paddle Co</h1>
			<p>An Ironyard Academy Project Est. Fall 2013</p>	
		</div>
    
	</div>
</div>

<section>

  <article>
  	<h1>A FANTASTIC ENGAGING HEADLINE GOES HERE</h1>
  	<img class="small-pic" src="http://i.imgur.com/2Yc3D4K.jpg" width="20" height="20"> 
  	<span class="small-name">Thanh Nguyen</span>
  	<span class="date">on <u>Sunday Oct, 8th 4:00pm</u></span>

  	<br /><br /><br />
  	<p>Why end might ask civil again spoil. She dinner she our horses depend. Remember at children by reserved to vicinity. In affronting unreserved delightful simplicity ye. Law own advantage furniture continual sweetness bed agreeable perpetual. Oh song well four only head busy it. Afford son she had lively living. Tastes lovers myself too.</p>


  	<blockquote>
   	 <p> WOAH. THAT'S RADICAL</p>
  	</blockquote>

  	<p>An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen <a href="#">it sussex</a>. </p>

  	<br />
  	<p>Frankfurter beef doner turkey pork loin biltong venison turducken, drumstick tongue. Pork belly frankfurter landjaeger, pastrami cow turkey pancetta. Short loin sirloin rump salami pastrami chicken meatloaf doner ground round. Doner venison ground round kielbasa leberkas, biltong ham hock meatball turducken short loin beef porchetta. Shank ham hock drumstick short loin landjaeger boudin shankle filet mignon ball tip brisket cow beef ribs tail pork belly chicken. Biltong boudin spare ribs drumstick rump capicola, bresaola pastrami shoulder chicken landjaeger. Kielbasa shankle tri-tip prosciutto doner, bresaola meatball pork.</p>

  	<br />
  	<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual no.</p>

  	<br />
  	<button>Read Comments</button>
  	<button>Read Later</button>
  	<button>Share This Post</button>

</article>


  <aside>
  	<div class="top-aside">
	  	<img class="aside-pic" src="http://i.imgur.com/2Yc3D4K.jpg" width="90" height="90"> <br />
	  	<span>Thanh Nguyen</span>

	  	
	  		<ul class="aside-stuffs">
	  			<li class="on-aside"><a href="#">Twitter</a></li>
	  			<li class="on-aside"><a href="#">Facebook</a></li>
	  			<li class="on-aside"><a href="#">Instagram</a></li>
	  		</ul>
	  	
  	</div>
  	
  	<img class="pic-aside" src="http://www.photographyblogger.net/wp-content/uploads/2014/01/Christoph-Immler-08.jpg" width="280", height="300">
  
  	<h5>Sidebar Section Heading</h5>
  	<p>Pork belly frankfurter landjaeger, pastrami cow turkey pancetta. Short loin sirloin rump salami pastrami chicken meatloaf doner ground round. Doner venison ground <u>round kielbasa</u> leberkas, biltong ham hock meatball turducken short loin beef porchetta. Shank ham hock drumstick short</P>
</aside>
</section>


 <div class="line-behind-text"></div>

 <div class="bottom-stuffs">
 	<h1>MOST POPULAR POST</h1>
 </div>

 <div class="bottom-img">
	 <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ29d9jjyQwN9EhYJVx8J0wQZtuRXQusA7D1l4B9QFJ_N0fy6Gv" width="325">
	 <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSVdVPcU28ea64DCcUy5ybAwc-k5QtApIaxTPjcoGDnV2vnf_wf" width="325">
	 <img src="http://www.theluxechronicles.com/.a/6a00e54f05e1bb88340168e99fc42e970c-pi" width="280">
	 <img src="http://topliners.eloqua.com/servlet/JiveServlet/downloadImage/2-30162-83862/seinfeld-cast-sized1.jpg" width="320">
</div>
</body>
